<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	<title>BookMarx</title>
	   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60713168-2', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="display"><div class="side-bar">
		<h1>BookMarx</h1>

		<div class="folder-wrapper">
			<div  class="add-folder"><p><a style = "text-decoration:none; color: white" href='/add'>Add bookmark</a></p></div>
			<div class="signout"><p><a style = "text-decoration:none; color: white" href='/signout'>Sign Out</a></p></div>
			<div class="settings"><p><a style = "text-decoration:none; color: white" href='/settings'>Settings</a></p></div>
			<div class="import-export-container">
				<p class='import-export'>
				Import bookmark&nbsp;<a href="#"><span class="glyphicon glyphicon-import"></span></a></p>
				<p class='import-export'>Export bookmark&nbsp;<a href="#"><span class="glyphicon glyphicon-export"></span></a>
				</p>
			</div>
			<div class="nav-right col-md-4 sidebar-search">
					<form action = "/bookmarks" method = "get" >
						<div class="input-group">
										<input type="text" name = "search" class="form-control fix-height" placeholder="Search for...">
										<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Go!</button>
										</span>
						</div>
					</form>
			</div>
			<h2 class="my-list">Manage Bookmarks</h2>
			<form id="sidebar-sort-controls" action="sort.php" method="post" style="display:inline;">
				<div class="dropdown">
  
							<button class="dropbtn">Sort By...</button>
							<div class="dropdown-content">
								<a href="/bookmarks?sort=title&order=asc">Title (Asc)</a>
								<a href="/bookmarks?sort=title&order=desc">Title (Desc)</a>
								<a href="/bookmarks?sort=created_at&order=asc">Create Date (Asc)</a>
								<a href="/bookmarks?sort=created_at&order=desc">Create Date (Desc)</a>
								<a href="/bookmarks?sort=updated_at&order=asc">Update Date (Asc)</a>
								<a href="/bookmarks?sort=updated_at&order=desc">Update Date (Desc)</a>
								<a href="/bookmarks?sort=star&order=desc">Starred/Unstarred</a>
							</div>
					</div>
			</form>
			<table>
				<% books.forEach(function(book) { %>
				<tr>
					<td>
						<a href="<%= book.url %>"><%= book.title %></a>
					</td>
					<td class = "icon pencil">
						<div id="title<%=book.id%>" style = "display:none"></div>
						<div id="url<%=book.id%>" style = "display:none"></div>
						<div id="description<%=book.id%>" style = "display:none"></div>
						<div id="keywords<%=book.id%>" style = "display:none"></div>
						<div id="star<%=book.id%>" style = "display:none"></div>
						<a href="/edit/<%= book.bookmark_id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
					</td>
					<td class = "icon trash">
						<a href="/confirmdelete/<%= book.bookmark_id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
					</td>
					<td class="icon star">
						<i class="fa fa-star-o" <% if(book.star == "1"){%> style = "color:yellow" <% } %>aria-hidden="true"></i>
					</td>
				</tr>
				<% }); %>
			</table>
		</div>

	</div>

	<div class="home-container">
			<div class="row ">
				<div class="nav-left col-md-8" >
					
						<div class="dropdown">
  
							<button class="dropbtn">Sort By...</button>
							<div class="dropdown-content">
								<a href="/bookmarks?sort=title&order=asc">Title (Asc)</a>
								<a href="/bookmarks?sort=title&order=desc">Title (Desc)</a>
								<a href="/bookmarks?sort=created_at&order=asc">Create Date (Asc)</a>
								<a href="/bookmarks?sort=created_at&order=desc">Create Date (Desc)</a>
								<a href="/bookmarks?sort=updated_at&order=asc">Update Date (Asc)</a>
								<a href="/bookmarks?sort=updated_at&order=desc">Update Date (Desc)</a>
								<a href="/bookmarks?sort=star&order=desc">Starred/Unstarred</a>
							</div>
					</div>
					

					<p class='import'>
					Import bookmark&nbsp;
					<label for="input" class="glyphicon glyphicon-import import-label"></label>
					<input type="file" id="input" onchange="handleFiles(this.files)"></input></p>
					<p class='export'>Export bookmark&nbsp;<a href="#"><span id="download" onclick="getCSV()" class="glyphicon glyphicon-export"></span></a>
					</p>
				</div>

				<div class=" nav-right col-md-4">
					<form action = "/bookmarks" method = "get" >
						<div class="input-group">
										<input type="text" name = "search" class="form-control fix-height" placeholder="Search for...">
										<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Go!</button>
										</span>
						</div>
					</form>
					</div>
			</div>
			<hr>
	<div class ="container-fluid">
		<%
		var x = 0;
		var row = false;
		books.forEach(function(book) { %>
		<% if (x == 0) {
			row = false;
			%>
			<div class="row ">
		<% } %>
		  <div class="col-md-4">
				<div class="cards">
				<h1><%= book.title %></h1>
				<p class="bookmark-description">
					<%= book.description %>
				</p>
				<a class="bookmark-button" style="text-decoration: none" href="<%= book.url %>" target="_blank">
					Link
				</a>
				<p class="tags"><span>Tags: </span>
					<% var res = book.tags.split(",");
					   var c = 0;
						res.forEach(function(tag){
					%>
					<a href = "/bookmarks?tag=<%= tag %>" ><%= tag %></a>
					<% if(c < res.length-1) { %> ,
					<% } %>
					<% c ++;}); %>
				</p>
			</div>
		</div>
		  <% x++; if(x ==3) { %>
		</div>
		   <% x = 0; row = true; } %>
		   <% }); %>
		<% if(x < 3 && row == false) { %>
		</div>
		<% } %>
		
	</div>
</div>

<!-- Only using jquery for Ajax calls.  Consider changing to native -->
<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script src="/js/ejs.min.js"></script>
<script src="/js/main.min.js"></script>
</body>
</html>