<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Edit a Bookmark</title>
</head>
<body>
  <div class="container">
		<form id = "edit-form" action="/update/<%= book.bookmark_id %>" method="post">
			<h2>Bookmarx</h2>
			<p>Edit <i>Title of selected Bookmark</i></p>
			<p>Write the new values for this bookmark and click Edit</p>
			<input type="text" name="title" placeholder="Title" required="true" value = "<%= book.title %>"><br>
			<input type="url" name="url" placeholder="URL" required="true" value = "<%= book.url %>"><br>
			<input type="text" name="keywords" placeholder="Keywords" value = "<%= book.tags %>"><br>
			<input type="text" name="description" placeholder="Description" value = "<%= book.description %>"><br>
			<label for="star">Star it?</label><input type="checkbox" name="star" id="star" <%= checked %>> 
			<button class="btn-form" type = "submit" id="confirm_edit">EDIT</button>
			<button class="btn-form" type = "button" id="cancel_edit" onClick="location.href='/'" style="float:right">CANCEL</button>
		</form>

  </div>
</body>
</html>
